<section class="header-container" [ngClass]="{mobile: mobile, marginButton: marginButton}">
	<div class="header-title">
		<ng-container *ngIf="backButton">
			<mat-icon aria-hidden="false" class="pointer" (click)="goBack()" aria-label="Go Back">arrow_back_ios
			</mat-icon>
		</ng-container>
		<div class="header-text">
			<h1 class="title" [ngClass]="titleClass">
				{{title}}
				<ng-container *ngIf="icon">
					<mat-icon [ngClass]="setInfoButtonColor()" aria-hidden="false" aria-label="Screen icon" style="font-size:xx-large; padding-left: 5%; vertical-align: middle; cursor: pointer;" matTooltip="FAQ" (click)="infoButtonHandler()">{{icon}}</mat-icon>
				</ng-container>
			</h1>
			<h4 class="subtitle" [ngClass]="subtitleClass">{{subtitle}}</h4>
		</div>
	</div>
	<div class="header-actions">
		<ng-container *ngIf="mainActionLabel && mainActionPermission">
			<ng-button class="header-main-action" [icon]="icon" [primary]="true" [label]="mainActionLabel" (onClick)="mainClickHandler()"></ng-button>
		</ng-container>
		<ng-container *ngIf="secondaryActionLabel && secondaryActionPermission">
			<ng-button class="header-secondary-action" [label]="secondaryActionLabel" (onClick)="secondaryClickHandler()"></ng-button>
		</ng-container>
	</div>
	<mat-divider></mat-divider>
</section>