.header{
	&-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: .5em;
		padding: 1em;
		padding-bottom: .21428571rem;
		border-bottom: 1px solid rgba(34,36,38,.15);

		&.mobile {
			flex-direction: column;
			align-items: flex-start;
		}
		&.marginButton {
			margin-bottom: 2em;
		}
	}
	&-title{
		width: 100%;
		display: flex;
	}
	&-actions{
		width: auto;
		display: flex;
		justify-content: flex-end;
	}
	&-secondary-action{
		margin-left: 2em;
	}
	&-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
	}
}

.title, .subtitle{
	margin: 0px;
}

.subtitle {
	color: gray;
}

.viewed{
	color: black;
}

.viewed-dark{
	color: white;
}

.not-viewed{
	color: #387f4a;
}