<ng-container *ngIf="visible">
	<div class="main-container">
		<div class="card-container">
			<div class="card" [style.background]="background">
				<div class="card__icon">
					<ng-container *ngIf="imageUrl; else iconTemplate">
						<img [src]="imageUrl" />
					</ng-container>
				</div>
				<ng-container *ngIf="closable">
					<p class="card__exit" (click)="closeCard()">
						<mat-icon>close</mat-icon>
					</p>
				</ng-container>
				<h2 class="card__title" [style.color]="color">
					{{ title }}
				</h2>
				<p class="card__apply">
					<a [style.color]="color">{{ subtitle }}</a>
				</p>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #iconTemplate>
	<mat-icon>{{ icon }}</mat-icon>
</ng-template>
