<ng-container *ngIf="!errorMessage; else errorTemplate">
  <h1>{{ title }}</h1>
  <h3 class="truncate">{{ subtitle }}</h3>
  <div class="content">
    <ng-container *ngIf="loading; else confirmationTemplate">
      <section class="loading-section">
        CARGANDO
      </section>
    </ng-container>
  </div>
  <div class="action-button">
    <button mat-flat-button color="primary" (click)="delete($event)">

      Eliminar
    </button>
  </div>
</ng-container>

<ng-template #confirmationTemplate>
  <h2>¿Estás seguro/a ?</h2>
  <h4>Esta acción no tiene forma de recuperarse.</h4>
</ng-template>
<ng-template #errorTemplate>
  <div class="content">

    <section class="error-message">
      <h4>Hubo un error</h4>
      <h4>{{ errorMessage }}</h4>
      <h5>Intentelo nuevamente en unos minutos</h5>
    </section>
  </div>
</ng-template>
