<section class="container container--narrow">
  <ng-container *ngIf="icon">
    <div class="iconWrapper" [ngStyle]="getBackground()">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
  </ng-container>
  <div class="contentWrapper">
    <div class="textWrapper">
      <ng-container *ngIf="title">
        <h1 class="title">{{ title }}</h1>
      </ng-container>
      <ng-container *ngIf="message">
        <p class="content">{{ message }}</p>
      </ng-container>
    </div>
    <ng-container *ngIf="mainActionLabel || secondaryActionLabel">
      <div class="buttonWrapper">
        <ng-container *ngIf="secondaryActionLabel">
          <button mat-button (click)="handleSecondaryClick()">{{ secondaryActionLabel }}</button>
        </ng-container>
        <ng-container *ngIf="mainActionLabel">
          <button mat-button (click)="handleMainClick()">{{ mainActionLabel }}</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
