.container {
  display: flex;
  background-color: #fff;
  border: 0.0625rem solid #dadde4;
  border-radius: 0.125rem;
}

.iconWrapper {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: -0.0625rem 0 -0.0625rem -0.0625rem;
  border-radius: 0.125rem 0 0 0.125rem;
  color: white;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1;
  padding: 0 1rem;
}

.textWrapper {
  flex: 1 1 auto;
}

.title {
  margin: 1.25rem 0;
  font-size: 1rem;
  font-weight: 500;
}

.content {
  margin: 1.125rem 0;
  font-size: 0.875rem;
  color: #666d85;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
}

.button {
  margin-bottom: 0;
}

.button {
  padding: 0.625rem 0.75rem;
  margin: 0 0.5rem 0.5rem;

  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #3f51b5;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
