<div class="loading-shade" *ngIf="isLoading">
  <ng-loading></ng-loading>
</div>
<ng-container *ngIf="filter">
  <div class="action-row">
    <div class="filter-box">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event)"
          #input
          autocomplete="off"
        />
      </mat-form-field>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="dataSource.length; else noElementsTemplate">
  <ng-container *ngIf="!mobile; else mobileTemplate">
    <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of getColumns(); trackBy: trackByFn"
        >
          <ng-container *ngIf="column !== 'actions' && column !== 'image'">
            <th mat-header-cell *matHeaderCellDef>
              {{ getColumnName(column) }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          </ng-container>
          <ng-container *ngIf="column == 'actions'">
            <th mat-header-cell *matHeaderCellDef>
              {{ getColumnName(column) }}
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.actions; else sameActions">
                <ng-container *ngFor="let action of element.actions">
                <button mat-icon-button (click)="action.callback(element)">
                  <mat-icon>{{ action.icon }}</mat-icon>
                </button>
              </ng-container>
              </ng-container>
              <ng-template #sameActions>
                <ng-container *ngFor="let action of actions">
                  <button mat-icon-button (click)="action.callback(element)">
                    <mat-icon>{{ action.icon }}</mat-icon>
                  </button>
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <ng-container *ngIf="column == 'image'">
            <th mat-header-cell *matHeaderCellDef>
              {{ getColumnName(column) }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="image-wrapper">
                <img
                  class="image"
                  [src]="
                    element.url ? element.url : './assets/img/nopicture.png'
                  "
                />
              </div>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getColumns()" class="disabled-dark"></tr>
      </table>
      <mat-paginator
        class="mat-paginator mat-elevation-z1"
        #paginator
        [length]="resultsLength"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)"
      ></mat-paginator>
    </div>
  </ng-container>
</ng-container>

<ng-template #mobileTemplate>
  <div class="listView">
    <ng-container
      *ngFor="let elementRow of mobileSource; let i = index; trackBy: trackByFn"
    >
      <mat-card>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Menu action button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="elementRow.actions; else sameMobileActions">
            <ng-container *ngFor="let action of elementRow.actions">
              <button mat-menu-item (click)="action.callback(elementRow)">
                {{ action.name }}
              </button>
            </ng-container>
          </ng-container>
          <ng-template #sameMobileActions>
            <ng-container *ngFor="let action of actions">
              <button mat-menu-item (click)="action.callback(elementRow)">
                {{ action.name }}
              </button>
            </ng-container>
          </ng-template>
        </mat-menu>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ elementRow.title }}
              </mat-panel-title>
              <mat-panel-description>
                {{ elementRow.description }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <div mat-subheader>Detalles</div>
              <mat-list-item *ngFor="let element of elementRow.expandedInfo">
                <div mat-line>{{ element }}</div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </ng-container>
    <mat-paginator
      #paginator
      [length]="resultsLength"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      (page)="handlePageEvent($event)"
    ></mat-paginator>
  </div>
</ng-template>

<ng-template #noElementsTemplate>
  <ng-segment
    icon="description"
    message="Sin elementos"
    actionMessage="Pruebe agregar elementos nuevos"
    actionLabel="Agregar nuevo elemento"
    (actionEvent)="segmentButton($event)"
  ></ng-segment>
</ng-template>
