<ng-container *ngIf="!mobile; else mobileTemplate">
	<mat-card class="searchBox">
		<h2>{{label}}</h2>
		<div>
			<mat-form-field class="w-100">
				<input matInput [placeholder]="placeholder" aria-label="Autocomplete" [matAutocomplete]="auto" [formControl]="searchControl">
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleSelect($event)" [displayWith]="displayFn">
					<mat-option *ngIf="isLoading" class="is-loading">
						<mat-progress-bar mode="query"></mat-progress-bar>
					</mat-option>
					<ng-container *ngIf="!isLoading">
						<mat-option *ngFor="let element of filteredValues" [value]="element">
							<span>{{getElementResult(element)}}</span>
						</mat-option>
					</ng-container>
				</mat-autocomplete>
				<mat-icon [ngClass]="{loadingIcon: isLoading}" matSuffix>{{ isLoading ? 'autorenew' : 'search'}}</mat-icon>
			</mat-form-field>
			<br>
			<ng-container *ngIf="errorMsg; else elseTemplate">
				{{errorMsg}}
			</ng-container>
			<ng-template #elseTemplate>
				<ng-container *ngIf="searchControl.value">
					<h5>{{searchingLabel}} {{searchControl.value.fullName ? searchControl.value.fullName : searchControl.value }}</h5>
				</ng-container>
			</ng-template>
		</div>
	</mat-card >
</ng-container>
<ng-template #mobileTemplate>
	<section class="mobile-wrapper">
		<ng-container *ngIf="!showMobileSearch">
			<button mat-icon-button (click)="toggleShowMobileSearch()">	<mat-icon>search</mat-icon> </button>
		</ng-container>

		<mat-form-field class="mobile-searchBox" [ngClass]="{ showing: showMobileSearch }">
			<input matInput [placeholder]="placeholder" aria-label="Autocomplete" [matAutocomplete]="auto" [formControl]="searchControl">
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleSelect($event)" [displayWith]="displayFn">
				<mat-option *ngIf="isLoading" class="is-loading">
					<mat-progress-bar mode="query"></mat-progress-bar>
				</mat-option>
				<ng-container *ngIf="!isLoading">
					<mat-option *ngFor="let element of filteredValues" [value]="element">
						<span>{{getElementResult(element)}}</span>
					</mat-option>
				</ng-container>
			</mat-autocomplete>
			<mat-icon (click)="toggleShowMobileSearch()" [ngClass]="{loadingIcon: isLoading}" matSuffix>{{ isLoading ? 'autorenew' : 'close'}}</mat-icon>
		</mat-form-field>

	</section>
</ng-template>
