.searchBox {
	margin: 1em;
	padding: 1em 1.5em;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.w-100{
	width: 100%;
}

.loadingIcon {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1250ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1250ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1250ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin;
	animation-duration: 1250ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.mobile-wrapper{
	padding-left: 2em;
	display: flex;

	&.mat-icon {
		cursor: pointer;
	}
}

.mobile-searchBox{
	width:0%;
	overflow:hidden;
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	&.showing{
		width: 85%;
	}
}

