<div class="segment-wrapper">
  <ng-container *ngIf="cardMode; else noCardTemplate">
    <mat-card class="card">
      <ng-template [ngTemplateOutlet]="segmentContent"></ng-template>
    </mat-card>
  </ng-container>
</div>
<ng-template #noCardTemplate>
  <section class="noCard-wrapper">
    <ng-template [ngTemplateOutlet]="segmentContent"></ng-template>
  </section>
</ng-template>

<ng-template #segmentContent>
  <div class="message-wrapper">
    <ng-container *ngIf="icon">
      <mat-icon aria-hidden="false" aria-label="Screen icon">{{icon}}</mat-icon>
    </ng-container>
    <ng-container *ngIf="title"><h1 class="title">{{title}}</h1></ng-container>
    <ng-container *ngIf="message"><h2 class="subtitle">{{message}}</h2></ng-container>
  </div>
  <div class="message-wrapper">
    <h4 class="info">
      {{actionMessage}}
    </h4>
  </div>
  <ng-container *ngIf="actionLabel">
    <ng-button [primary]="true" [label]="actionLabel" (onClick)="actionEvent.emit($event)"></ng-button>
  </ng-container>
</ng-template>
