.segment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: visible;
  min-height: 18rem;
  padding: 4em;
}
.message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title, .subtitle {
  margin-top: 2em;
  text-align: center;
}

mat-icon {
  width: auto;
  height: auto;
  line-height: 1;
  padding: 0;
  font-size: 5em;
  margin: 0 auto 0.5rem;
  opacity: 1;
}

.info {
  margin-top: 2em;
  text-align: center;
}

.noCard-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
