<ng-container *ngIf="!errorMessage; else errorTemplate">
	<h1>{{ title }}</h1>
	<h3>{{ subtitle }}</h3>
	<div class="content">
		<ng-container *ngIf="loading; else formTemplate">
			<section class="loading-section">
				<ng-loading></ng-loading>
			</section>
		</ng-container>
	</div>
	<div align="end" class='main-actions'>
		<ng-button color='accent' label="Cerrar" (onClick)="close()"></ng-button>
		<ng-container *ngIf="showElement">
			<ng-button icon="event_note" [primary]="true" [label]="saveLabel" (onClick)="onSubmit($event)" [disabled]="formGroup.invalid || loading"></ng-button>
		</ng-container>
	</div>
</ng-container>

<ng-template #formTemplate>
	<ng-container *ngIf="form.length>0 || isFAQ; else filesViewTemplate">
		<form [formGroup]="formGroup" class="form">
			<table class="w-100" cellspacing="0">
				<ng-container *ngFor="let rowElement of layout; let i=index">
					<tr>
						<ng-container *ngFor="let formElement of rowElement.element">
							<td>
								<div [ngSwitch]="formElement.element" class="column">
									<!-- input Template -->
									<mat-form-field *ngSwitchCase="'input'">
										<mat-label>{{ formElement.display }}</mat-label>
										<input
										matInput
										[formControlName]="formElement.field"
										[placeholder]="formElement.placeholder"
										[type]="formElement.type"
										[min]="formElement.min"
										[max]="formElement.max"
										(keyup)="checkCUIT($event.target.value)"
										/>
										<mat-error *ngIf="formGroup.get(formElement.field).invalid">{{
											getErrorMessage(formGroup.get(formElement.field), formElement.type)
										}}</mat-error>
									</mat-form-field>
									<!-- textarea Template -->
									<mat-form-field *ngSwitchCase="'textarea'">
										<mat-label>{{ formElement.display }}</mat-label>
										<textarea
										matInput
										[formControlName]="formElement.field"
										[placeholder]="formElement.placeholder"
										rows="5"
										ngClass="{'textDisabled':formElement.disabled}"
										></textarea>
									</mat-form-field>
									<!-- datepicker Template -->
									<mat-form-field *ngSwitchCase="'datepicker'">
										<mat-label>{{ formElement.display }}</mat-label>
										<input
										matInput
										[formControlName]="formElement.field"
										[matDatepicker]="picker"
										/>
										<mat-datepicker-toggle
										matSuffix
										[for]="picker"
										></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
									<!-- checkbox Template -->
									<ng-container *ngSwitchCase="'checkbox'">
										<mat-checkbox [formControlName]="formElement.field">{{
											formElement.display
										}}</mat-checkbox>
									</ng-container>
									<!-- select Template -->
									<mat-form-field *ngSwitchCase="'select'">
										<mat-select
										(selectionChange)="handleSectorChange($event, formElement)"
										name="sectorId"
										[placeholder]="formElement.placeholder"
										[formControlName]="formElement.field"
										>
										<mat-option *ngFor="let option of formElement.options" [value]="option.value"  >
											{{ option.display }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<!-- radio Template -->
								<ng-container *ngSwitchCase="'radio'">
									<mat-radio-group [formControlName]="formElement.field">
										<mat-radio-button class="radio-button" *ngFor="let option of formElement.options" [value]="option.value">
											{{ option.display }}
										</mat-radio-button>
									</mat-radio-group>
								</ng-container>
								<!-- image Template -->
								<ng-container *ngSwitchCase="'image'">
									<ng-image-uploader (imageUploaded)="handleImageUploaded($event)" [imageBase64]="file" [file]="file" [entity]="apiUrl"></ng-image-uploader>
								</ng-container>
								<!-- wysiwyg Template -->
								<ng-container *ngSwitchCase="'wysiwyg'">
									<ng-container *ngIf="showElement">
										<angular-editor [formControlName]="formElement.field" [config]="angularEditorConfig" ></angular-editor>
									</ng-container>
								</ng-container>
								<!-- file Template -->
								<ng-container *ngSwitchCase="'file'">
									<ng-file-uploader [form]="formGroup" [formElementName]="formElement.field" [endpoint]="apiUrl" (fileIdEmitter)="addFileId($event)" (removeIdEmitter)="removeFileId($event)" [multiple]="multiple" [extensiones]="supportedExtensions"></ng-file-uploader>
								</ng-container>
								<!--Only used for FAQ modal-->
								<ng-container *ngIf="!showElement && showElement!=undefined">
									<div [innerHTML]="sanitizeHTML(dataElement.body)"></div>
								</ng-container>
								<!-- Only used for comments -->
								<ng-container *ngSwitchCase="'label'">
									<h3 mat-dialog-subtitle>Comentarios Matriculado</h3>
									<p>{{dataElement.enrollment_comment}}</p>
								</ng-container>
							</div>
						</td>
					</ng-container>
				</tr>
			</ng-container>
		</table>
	</form>
	</ng-container>
	<ng-template #filesViewTemplate>
		<ng-container *ngIf="!isOnlyDisplayInfo; else onlyViewTemplate">
			<ng-container *ngIf="files.length>0; else loading">
				<ul>
					<li *ngFor="let file of files; let i=index"><a href="{{file.preview}}" target="_blank">{{file.name}}</a></li>
				</ul>
			</ng-container>
			<ng-template #loading>
				<h5>Cargando archivos...</h5>
			</ng-template>
		</ng-container>
		<ng-template #onlyViewTemplate>
			<ul>
				<li>
					<b>Razón Social:</b> {{displayElements.business_name}}
				</li>
				<li>
					<b>CUIT:</b> {{displayElements.cuit}}
				</li>
				<li>
					<b>Tipo:</b> {{displayElements.type}}
				</li>
				<li>
					<b>Matriculado asociado</b>
					<ul>
						<li><i>{{displayElements.matriculate_name}}</i></li>
						<li><i>CUIT </i>{{displayElements.cuit_matriculado}}</li>
					</ul>
				</li>
			</ul>
			<div style="text-align: center;">
				<ng-button [primary]="true" label="Ver archivo asociado" icon="description" (onClick)="getFile(displayElements.id_oldquote)"></ng-button>
			</div>
		</ng-template>
	</ng-template>
</ng-template>
<ng-template #errorTemplate>
	<div mat-dialog-content class="content">
		<ng-error-alert></ng-error-alert>
		<section class="error-message">
			<h4>Hubo un error</h4>
			<h4>{{ errorMessage }}</h4>
			<ng-button [primary]="true" label="Intentar nuevamente" (onClick)="clearError()"></ng-button>
		</section>
	</div>
</ng-template>
