.form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}
section.loading-section {
	min-height: 350px;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}
section.error-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
td {
	padding-right: 8px;
}
.dialog-content {
	min-height: 250px;
}
.action-button {
	display: flex;
	flex-direction: column;
}

.mat-form-field {
	width: 100%;
}

mat-bottom-sheet-container.mat-bottom-sheet-container {
	padding: 8px .5em !important;
}

input[type="file"] {
	z-index: -1;
	position: absolute;
	opacity: 0;
}

input:focus + label {
	outline: 2px solid;
}

.main-actions {
	display: flex;
	justify-content: flex-end;
	gap: .5em;
}
.images-wrapper {
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-height: 450px;
}

.cropper-wrapper {
	max-width: 250px;
}

.preview-wrapper {
	height: fit-content;
	text-align: center;
	& > img {
		max-width: 250px;
		height: auto;
	}
}

.textDisabled{
	color: black;
}
