<section class="image-uploader">
  <input #uploader type="file" id="file-upload" (change)="fileChangeEvent($event)" />
  <ng-container *ngIf="hasImage; else noImage">
    <mat-button-toggle-group [value]="editionMode" (change)="handleModeChange($event)" aria-label="Font Style">
      <mat-button-toggle value="read">Vista previa</mat-button-toggle>
      <mat-button-toggle value="edit">Modo edicion</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="images-wrapper">
      <ng-container *ngIf="editionMode == 'edit'; else readMode">
        <ng-container *ngIf="hasImage" >
          <h2>Edicion</h2>
        </ng-container>
        <image-cropper
        class="cropper-wrapper"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [imageBase64]="imageBase64"
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed($event)"
        ></image-cropper>
      </ng-container>
    </div>
  </ng-container>

  <div class="button-wrapper">
    <button mat-flat-button color="primary" (click)="loadImage($event)">
      <mat-icon>upload_file</mat-icon>
      {{ croppedImage ? "Elegir otra imágen" : "Subir imágen" }}
    </button>
  </div>

</section>
<ng-template #readMode>
  <div class="preview-wrapper">
    <h2>Vista previa</h2>
    <img src="{{croppedImage ? croppedImage : imageBase64}}" />
  </div>
</ng-template>
<ng-template #noImage>
  <section class="noImage">
    <mat-icon>camera</mat-icon>
  </section>
  <!-- <img class="no-image" src="assets/img/no_image.png" alt="No image yet"> -->
</ng-template>
