input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

input:focus + label {
  outline: 2px solid;
}
section.image-uploader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  border-style: dashed;
  padding: 1em;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
.images-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 450px;
}

.cropper-wrapper {
  max-width: 250px;
  margin-bottom: 4em;
}

.preview-wrapper {
  margin-bottom: 4em;
  height: fit-content;
  text-align: center;
  & > img {
    max-width: 250px;
    height: auto;
  }
}

.no-image{
  width: 250px;
  height: auto;
}
section.noImage {
  
  & > mat-icon.mat-icon {
    height: 45px;
    width: 45px;
    font-size: 45px;
  }
}