
<button
mat-raised-button
[color]="primary ? themeColor :''"
(click)="onClick.emit($event)"
[disabled]="disabled"
>
<ng-container *ngIf="icon && icon!='info'">
  <mat-icon>{{icon}}</mat-icon>
</ng-container>{{ label }}
</button>

