.custom-snackbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-snackbar {
  margin-right: 15px;
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}


@keyframes loadingRings {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
  }
  .loadingRings div { box-sizing: border-box!important }
  .loadingRings > div {
	position: absolute;
	width: 144px;
	height: 144px;
	top: 28px;
	left: 28px;
	border-radius: 50%;
	border: 16px solid #000;
	border-color: #315683 transparent #315683 transparent;
	animation: loadingRings 1s linear infinite;
  }
  .loadingRings > div:nth-child(2) { border-color: transparent }
  .loadingRings > div:nth-child(2) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
  }
  .loadingRings > div:nth-child(2) div:before, .loadingRings > div:nth-child(2) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -16px;
	left: 48px;
	background: #315683;
	border-radius: 50%;
	box-shadow: 0 128px 0 0 #315683;
  }
  .loadingRings > div:nth-child(2) div:after {
	left: -16px;
	top: 48px;
	box-shadow: 128px 0 0 0 #315683;
  }
  .loadingWrapper {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
  }
  .loadingRings {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
  }
  .loadingRings div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
