<ng-container [ngSwitch]="type">
	<div class="custom-snackbar">
		<ng-container *ngSwitchCase="'label'">
			<span class="loading" [ngStyle]="{ color: color }">
				{{ label }}
			</span>
		</ng-container>
		<ng-container *ngSwitchCase="'spinner'">
			<!-- <div [ngStyle]="{ color: color }" class="loadingWrapper">
				<div class="loadingRings">
					<div></div>
					<div>
						<div></div>
					</div>
				</div>
			</div> -->
			<mat-spinner [color]="color"></mat-spinner>
		</ng-container>
		<ng-container *ngSwitchCase="'bar'">
			<div class="input-loader">
				<div class="loader-container">
					<span *ngIf="progress < 100; else buffer">{{ progress }}%</span>
					<ng-template #buffer>{{label}}...</ng-template>
					<mat-progress-bar [mode]="loadingMode" [value]="progress"></mat-progress-bar>
				</div>
			</div>
		</ng-container>
	</div>
</ng-container>