.row {
	margin-top: 1em;
}

.description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	max-width: 50%;
}

mat-form-field {
	margin-left: 1em;
	&.pointer {
		cursor: pointer;
		input {
			cursor: pointer;
		}
	}
}

.hidden {
	display: none;
}

div.file-drop-container {
	display: inline-flex;
	width: 100%;
	ngx-file-drop {
		width: 100%;
		div.customDrop {
			width: 100%;
			display: inline-flex;
			div.custom {
				width: 100%;
				display: inline-flex;
				div.btn-container {
					align-self: center;
				}
				mat-form-field {
					width: 50%;
					display: block;
					margin-left: 2em;
				}
			}
		}
	}
}

.open-file {
	margin-left: 1em;
}
