<ng-container *ngIf="!viewMode; else viewRender">
	<ng-container *ngIf="multiple; else singleFile">
		<div class="center">
			<ngx-file-drop dropZoneClassName="customDrop" customContentStyle="custom" browseBtnLabel="" showBrowseBtn="true" (onFileDrop)="dropped($event)">
				<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
					<div class="btn-container">
						<button (click)="onClickButton($event)" mat-raised-button color="primary" type="button">
							<i left class="material-icons">attach_file</i>
							{{messages.uploadFile}}
						</button>
					</div>
				</ng-template>
			</ngx-file-drop>
			<ng-container *ngIf="documents.length==0; else fileList">
				<h4>No hay archivos cargados</h4>
			</ng-container>
			<ng-template #fileList>
				<h4>Archivos cargados:</h4>
				<ul *ngIf="documents.length>0">
					<li *ngFor="let file of documents; let i=index">
						<a href="{{file.preview}}" target="_blank">{{file.name}}</a>
						<span *ngIf="documents.length>1" class="material-icons" (click)="removeElement('documents',i, file.upload_id)" style="cursor: pointer; vertical-align: bottom;">
							close
						</span>
					</li>
				</ul>
				<ul *ngIf="files.length>0">
					<li *ngFor="let file of files; let i=index">
						<a href="{{file.preview}}" target="_blank">{{file.name}}</a>
						<span *ngIf="files.length>1" class="material-icons" (click)="removeElement('files',i, file.upload_id)" style="cursor: pointer; vertical-align: bottom;">
							close
						</span>
					</li>
				</ul>
			</ng-template>
		</div>
	</ng-container>
	<ng-template #singleFile>
		<div class="file-drop-container">
		<ngx-file-drop dropZoneClassName="customDrop" customContentStyle="custom" browseBtnLabel="" showBrowseBtn="true" (onFileDrop)="dropped($event)">
			<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
				<div class="btn-container">
					<button [disabled]="disabled || loading !== null" (click)="onClickButton($event)" mat-raised-button color="primary" type="button">
						<i left class="material-icons">{{ documents.length > 0 ? 'check_circle' : 'attach_file' }}</i>
						{{ documents.length > 0 ? messages.uploadedFile : messages.uploadFile }}
					</button>
				</div>
				<ng-container *ngIf="loading === null; else progressTemplate">
					<mat-form-field (click)="onClickInput()" [ngClass]="{'hidden': documents.length === 0 && !disabled}">
						<input [readonly]="true" [formControl]="fileName" matInput>
						<button type="button" mat-button *ngIf="documents.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="reset($event)">
							<mat-icon>close</mat-icon>
						</button>
						<mat-error>{{requiredErrorLabel}}</mat-error>
					</mat-form-field>
					<button *ngIf="link" class="open-file" type="button" (click)="open()" mat-icon-button color="primary">
						<mat-icon title="Abrir en nueva pestaña">open_in_new</mat-icon>
					</button>
				</ng-container>
			</ng-template>
		</ngx-file-drop>
	</div>
	</ng-template>
</ng-container>
<ng-template #viewRender>
	<div class="file-drop-container">
		<ngx-file-drop dropZoneClassName="customDrop" customContentStyle="custom" browseBtnLabel="" showBrowseBtn="true">
			<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
				<div class="btn-container">
					<button [disabled]="disabled || loading !== null" (click)="open()" mat-raised-button color="primary" type="button">
						<i left class="material-icons">{{ documents.length > 0 ? 'cloud_download' : 'cloud_off' }}</i>
						{{ documents.length > 0 ? messages.openFile : messages.noFile }}
					</button>
				</div>
				<ng-container *ngIf="loading === null; else progressTemplate">
					<mat-form-field (click)="open()" [ngClass]="{'pointer': documents.length > 0}">
						<input [readonly]="true" [formControl]="fileName" matInput>
					</mat-form-field>
				</ng-container>
			</ng-template>
		</ngx-file-drop>
	</div>
</ng-template>

<ng-template #progressTemplate>
	<ng-loading type="bar" [progress]="loading" [loadingMode]="loadingMode"></ng-loading>
</ng-template>
